.memo-list {
}

input.workspace {
  height: 200px;
  width: 200px;
}

.element {
  width: 350px;
  height: 120px;
  border-bottom: 1px solid #ccc;
  border-collapse: collapse;
}

.element.active {
  background: lightgreen;
}

.memo-workspace {
  background: lightblue;
}

.content {
  display: flex;
}

